@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0A0A0A;
  color: white;
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7C3AED;
  border-radius: 10px;
}
